@{
   Layout="~/Shared/_Layout.cshtml";
   var db = Database.Open("DB");
   Page.Menu=0;
   Page.Title="Profilim";
   if(!WebSecurity.IsAuthenticated)
   {
       Response.Redirect("~/Shared/Hata?No=500",true);
   }

   if(IsPost){
       bool hata=true;
        var fotoDosyaAdi = "";
          
                var uploadEdilen = Request.Files[0];
                if(uploadEdilen.ContentLength <= 0)
                {
                    fotoDosyaAdi="null";
                    hata=false;
                }
                else
                {
                    fotoDosyaAdi = WebSecurity.CurrentUserId.ToString()+".jpg";
                    var klasorYolu = Server.MapPath("~/img/" + fotoDosyaAdi);
                    uploadEdilen.SaveAs(klasorYolu);
                    hata=false;
                }
            
        if(!hata){
            db.Execute("UPDATE Users SET ProfilPhoto=@0 WHERE UserID=@1",fotoDosyaAdi,WebSecurity.CurrentUserId);
        }
   }

       var bilgi=db.QuerySingle("SELECT * From Users WHERE UserID=@0",WebSecurity.CurrentUserId);



}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <h2>Profilim</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@WebSecurity.CurrentUserName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 " align="center" style="padding-bottom: 10px;">
                            <img alt="Profil" src="@Href(@Ortak.ProfilFotoUrlOlustur(bilgi.ProfilPhoto)+"?" + DateTime.Now.Ticks.ToString())" class="img-circle img-responsive"><br>
                            <form method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <span class="btn btn-warning btn-file"><span class="fileupload-new"><i class="fa fa-picture-o"></i> Fotoğraf Seç</span>
                                            <span class="fileupload-exists"><i class="fa fa-picture-o"></i> Değiştir</span>         <input type="file" name="foto" /></span>
                                        <span class="fileupload-preview"></span>
                                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                    </div>
                                </div>

                                <hr>

                                <button type="submit" class="gonderBtn btn btn-sm btn-success"><i class="glyphicon glyphicon-edit"></i> Yükle</button>
                            </form>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div class="well info">
                                    <p><i class="fa fa-info-circle"></i> Bu sayfayı kullanarak profil fotoğrafını değiştirebilirsin.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JS
{
    <script>
        !function(e){var t=function(t,n){this.$element=e(t),this.type=this.$element.data("uploadtype")||(this.$element.find(".thumbnail").length>0?"image":"file"),this.$input=this.$element.find(":file");if(this.$input.length===0)return;this.name=this.$input.attr("name")||n.name,this.$hidden=this.$element.find('input[type=hidden][name="'+this.name+'"]'),this.$hidden.length===0&&(this.$hidden=e('<input type="hidden" />'),this.$element.prepend(this.$hidden)),this.$preview=this.$element.find(".fileupload-preview");var r=this.$preview.css("height");this.$preview.css("display")!="inline"&&r!="0px"&&r!="none"&&this.$preview.css("line-height",r),this.original={exists:this.$element.hasClass("fileupload-exists"),preview:this.$preview.html(),hiddenVal:this.$hidden.val()},this.$remove=this.$element.find('[data-dismiss="fileupload"]'),this.$element.find('[data-trigger="fileupload"]').on("click.fileupload",e.proxy(this.trigger,this)),this.listen()};t.prototype={listen:function(){this.$input.on("change.fileupload",e.proxy(this.change,this)),e(this.$input[0].form).on("reset.fileupload",e.proxy(this.reset,this)),this.$remove&&this.$remove.on("click.fileupload",e.proxy(this.clear,this))},change:function(e,t){if(t==="clear")return;var n=e.target.files!==undefined?e.target.files[0]:e.target.value?{name:e.target.value.replace(/^.+\\/,"")}:null;if(!n){this.clear();return}this.$hidden.val(""),this.$hidden.attr("name",""),this.$input.attr("name",this.name);if(this.type==="image"&&this.$preview.length>0&&(typeof n.type!="undefined"?n.type.match("image.*"):n.name.match(/\.(gif|png|jpe?g)$/i))&&typeof FileReader!="undefined"){var r=new FileReader,i=this.$preview,s=this.$element;r.onload=function(e){i.html('<img src="'+e.target.result+'" '+(i.css("max-height")!="none"?'style="max-height: '+i.css("max-height")+';"':"")+" />"),s.addClass("fileupload-exists").removeClass("fileupload-new")},r.readAsDataURL(n)}else this.$preview.text(n.name),this.$element.addClass("fileupload-exists").removeClass("fileupload-new")},clear:function(e){this.$hidden.val(""),this.$hidden.attr("name",this.name),this.$input.attr("name","");if(navigator.userAgent.match(/msie/i)){var t=this.$input.clone(!0);this.$input.after(t),this.$input.remove(),this.$input=t}else this.$input.val("");this.$preview.html(""),this.$element.addClass("fileupload-new").removeClass("fileupload-exists"),e&&(this.$input.trigger("change",["clear"]),e.preventDefault())},reset:function(e){this.clear(),this.$hidden.val(this.original.hiddenVal),this.$preview.html(this.original.preview),this.original.exists?this.$element.addClass("fileupload-exists").removeClass("fileupload-new"):this.$element.addClass("fileupload-new").removeClass("fileupload-exists")},trigger:function(e){this.$input.trigger("click"),e.preventDefault()}},e.fn.fileupload=function(n){return this.each(function(){var r=e(this),i=r.data("fileupload");i||r.data("fileupload",i=new t(this,n)),typeof n=="string"&&i[n]()})},e.fn.fileupload.Constructor=t,e(document).on("click.fileupload.data-api",'[data-provides="fileupload"]',function(t){var n=e(this);if(n.data("fileupload"))return;n.fileupload(n.data());var r=e(t.target).closest('[data-dismiss="fileupload"],[data-trigger="fileupload"]');r.length>0&&(r.trigger("click.fileupload"),t.preventDefault())})}(window.jQuery)
    </script>
    <script>
        $("form").submit(function() {$("#gonderBtn").html('<i class="fa fa-spinner fa-pulse"></i> Yükleniyor...');});    
    </script>
}